@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 110px;
    letter-spacing: -5pt;
}
p {
    font-family: "Inter";
    font-weight: 450;
    font-size: 35px;
    letter-spacing: -2pt;
}
